#portfolio{
    max-width: 100%;
    margin-top: 8rem;
    

    h2{
        padding: 0 2rem;
        margin-bottom: 2rem;
    }
}


//>
@media (min-width:$breakpoint-xlarge) {
    #portfolio{
        height: 100vh;
        h2{
            padding: 0 3rem;
        }
    }    
}
